Segmenting and Clustering Neighborhoods in Toronto

In [69]:
import numpy as np # library to handle data in a vectorized manner
from bs4 import BeautifulSoup
import requests
import pandas as pd
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
import folium # map rendering library

Scrape the List of postal codes of Canada

In [ ]:
url_1 = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url_1).text

In [ ]:
soup = BeautifulSoup(source, 'xml')

In [ ]:
table=soup.find('table')

In [ ]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [ ]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [ ]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

Data Cleaning
remove rows where Borough is 'Not assigned'

In [ ]:
indexNames=df[df['Borough']=='Not assigned'].index
df.drop(indexNames,inplace=True)
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [ ]:
df.loc[df['Neighborhood']=='Not assigned','Neighborhood']=df['Borough']
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [ ]:
df_new=df.groupby(['Postalcode','Borough'],sort=False).agg(','.join)
df_new1=df_new.reset_index()
df_new1.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [ ]:
df_new1.shape

(103, 3)

In [ ]:
df_geo=pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:

df_geo.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged = pd.merge(df_geo, df_new1, on='Postalcode')
geo_merged.head()

  Postalcode   Latitude  ...      Borough                            Neighborhood
0        M1B  43.806686  ...  Scarborough                          Malvern, Rouge
1        M1C  43.784535  ...  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  43.763573  ...  Scarborough       Guildwood, Morningside, West Hill
3        M1G  43.770992  ...  Scarborough                                  Woburn
4        M1H  43.773136  ...  Scarborough                               Cedarbrae

[5 rows x 5 columns]

In [68]:
geo_new = geo_merged[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]
geo_new.head()

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [70]:
toronto_data=geo_new[geo_new['Borough'].str.contains("Toronto")]
toronto_data.head()

   Postalcode          Borough  ...   Latitude  Longitude
37        M4E     East Toronto  ...  43.676357 -79.293031
41        M4K     East Toronto  ...  43.679557 -79.352188
42        M4L     East Toronto  ...  43.668999 -79.315572
43        M4M     East Toronto  ...  43.659526 -79.340923
44        M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [71]:
CLIENT_ID = '3DUTVOX4UGC3RRL5UA5MJIY4Z0ARKGYUH3TTBOZLRH1RXI40' # your Foursquare ID
CLIENT_SECRET = 'R32ZYFKBCO4YVSRFFPQJDIH2CR325OFQ3CDS1A0ADBFBD1SX' # your Foursquare Secret
VERSION = '20180604'

In [72]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)